@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}

@layer components {
  .tooltip {
    @apply relative cursor-pointer w-full;
  }
  
  .tooltip-text {
    @apply fixed z-50 p-2 text-xs bg-gray-800 text-white rounded-md shadow-lg
    max-w-xs whitespace-normal opacity-0 pointer-events-none transform-gpu max-h-48 overflow-y-auto
    transition-all duration-150 delay-100 translate-y-1;
    /* Position will be set by JS */
  }
  
  .tooltip:hover .tooltip-text {
    @apply opacity-90 translate-y-0;
  }
  
  .group:hover .group-hover\:block {
    @apply block;
  }
  
  /* Custom Toast Styling */
  .Toastify__toast {
    @apply shadow-sm rounded-md;
    min-height: 48px;
    padding: 4px 10px;
    margin-bottom: 6px;
  }
  
  .Toastify__toast-body {
    @apply text-xs;
    padding: 2px 6px;
    margin: 0;
  }
  
  .Toastify__toast-icon {
    margin-right: 4px;
    width: 16px;
  }
  
  .Toastify__slide-enter--top-right {
    animation-duration: 150ms;
    animation-timing-function: ease;
  }
  
  .Toastify__slide-exit--top-right {
    animation-duration: 150ms;
    animation-timing-function: ease;
  }
}

/* Updated styles for React Flow edges */
.react-flow__edge .react-flow__edge-path {
  stroke-width: 2; /* Default thickness */
}

.react-flow__edge.selected .react-flow__edge-path {
  stroke-width: 4; /* Thicker for selected edges */
}